<h1 align="center">Welcome to <%= @user.username %>'s Page!</h1>

<!--what is wrong with this. i want it to display only if user is logged in-->
<% if logged_in? && current_user == @user %>
    
    <div align="center"><%= link_to "Edit your profile", edit_user_path(current_user), class: "btn btn-xs btn-primary" %></div>
<% end %>

<div class="row">
    <div class="col-md-4 col-md-offset-4 center">
        <h1 align="center"><%= gravatar_for @user, size: 150 %></h1>
    </div>
</div>
<h4 align="center"><%= @user.username %>'s articles</h4>


<div align="center">
    <%= will_paginate @user_articles %>
</div>

<%= render 'articles/article', obj: @user_articles %>

<div align="center">
    <%= will_paginate @user_articles %>
</div>